<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    

    <%- include('./partials/nav') %>

    
    <form id="update"  class="form">
        
      


        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Title</label>
          <input type="text" name="Title" class="form-control" id="title" aria-describedby="emailHelp">
          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
  

		<label for="exampleInputEmail1" class="form-label">Type</label>
        <div class="input-group mb-3">
            <div class="type">
             <!-- <button class="btn btn-outline-secondary " id="asd"  type="button">Type</button> -->
             <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon" name="type"  >
                 <option selected >Choose...</option>
                 <option value="1">Tech</option>
                 <option value="2">Chronicles</option>
                 <option value="3">Entertain</option>
                 <option value="4">Headlines</option>
             
             </select>
         </div>
         </div>
         
		  
		 
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Posted By</label>
          <input type="text" name="Posted_by" class="form-control" id="Posted_by">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Content</label>
            <input type="text" name="Content" class="form-control" id="content">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Date</label>
            <input type="date" name="date" class="form-control" id="date">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


<script>
	document.getElementById('update').addEventListener('submit', function(event) {
            event.preventDefault();
            const postId = document.getElementById('postId').value;
            const updatedTitle = document.getElementById('title').value;
            const updatedPosted_by = document.getElementById('Posted_by').value;
            const updatedContent = document.getElementById('content').value;
            
            edit(postId, updatedTitle,updatedPosted_by,updatedContent);
           
        });


	function edit(postId, updatedTitle, updatedPosted_by, updatedContent){
			const confirmation = confirm("do you want to update");
            
            if (confirmation) {

                const updatedData = {}

                if(updatedTitle){
                    updatedData.title = updatedTitle;
                }
                if (updatedPosted_by) {
                    updatedData.Posted_by = updatedPosted_by;
                }
                if (updatedContent) {
                updatedData.Content = updatedContent;
                }
                fetch(`/blog/${postId}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(updatedData )
                })
          
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to update post');
                    }
                    return response.json();
                })
                .then(data => {
                    // Handle successful update
                    console.log('Post updated successfully:', data);
                    // You can perform any actions after successful update
                })
                .catch(error => {
                    console.error(error);
                    // Handle error
                });
		}
}
</script>
	</body>
</html>